Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

golangci-lint-fmt:
  name: golangci-lint fmt (gofmt + gci)
  entry: go run ./scripts/golangci_wrapper fmt
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: go run ./scripts/golangci_wrapper run --fix
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -recursive ./examples
  language: system
  pass_filenames: false

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: go run scripts/tflint_wrapper.go
  language: system
  pass_filenames: false

refactor: Consolidate device tests
  internal/resources_acceptance_tests/device_resource_test.go
  internal/resources_acceptance_tests/device_status_comprehensive_test.go
  internal/resources_acceptance_tests/device_status_optional_field_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: Consolidate power_feed tests - remove IDPreservation duplicate, add VoltageAmperage and Amperage comprehensive tests
  internal/resources_acceptance_tests/power_feed_comprehensive_test.go
  internal/resources_acceptance_tests/power_feed_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: Consolidate device test files - merge device_field_consistency_test.go and device_import_test.go into device_resource_test.go, add cleanup to basic test
  internal/resources_acceptance_tests/cable_resource_test.go
  internal/resources_acceptance_tests/custom_field_choice_set_resource_test.go
  internal/resources_acceptance_tests/custom_field_resource_test.go
  internal/resources_acceptance_tests/custom_link_resource_test.go
  internal/resources_acceptance_tests/device_field_consistency_test.go
  internal/resources_acceptance_tests/device_import_test.go
  internal/resources_acceptance_tests/device_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test: Add missing cleanup registrations to acceptance tests
  internal/resources_acceptance_tests/device_role_resource_test.go
  internal/resources_acceptance_tests/device_type_resource_test.go
  internal/resources_acceptance_tests/export_template_resource_test.go
  internal/resources_acceptance_tests/fhrp_group_assignment_resource_test.go
  internal/resources_acceptance_tests/fhrp_group_resource_test.go
  internal/resources_acceptance_tests/front_port_resource_test.go
  internal/resources_acceptance_tests/ike_policy_resource_test.go
  internal/resources_acceptance_tests/ike_proposal_resource_test.go
  internal/resources_acceptance_tests/interface_resource_test.go
  internal/resources_acceptance_tests/interface_template_resource_test.go
  internal/resources_acceptance_tests/inventory_item_resource_test.go
  internal/resources_acceptance_tests/inventory_item_role_resource_test.go
  internal/resources_acceptance_tests/inventory_item_template_resource_test.go
  internal/resources_acceptance_tests/ip_address_resource_test.go
  internal/resources_acceptance_tests/ip_range_resource_test.go
  internal/resources_acceptance_tests/ipsec_policy_resource_test.go
  internal/resources_acceptance_tests/ipsec_profile_resource_test.go
  internal/resources_acceptance_tests/ipsec_proposal_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: Consolidate journal entry tests into single file
  internal/resources_acceptance_tests/journal_entry_comprehensive_test.go
  internal/resources_acceptance_tests/journal_entry_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test: standardize acceptance tests with cleanup, consolidate comprehensive tests
  TEST_QUALITY_IMPROVEMENTS.md
  internal/resources_acceptance_tests/device_resource_test.go
  internal/resources_acceptance_tests/l2vpn_resource_test.go
  internal/resources_acceptance_tests/manufacturer_resource_test.go
  internal/resources_acceptance_tests/module_bay_resource_test.go
  internal/resources_acceptance_tests/platform_resource_test.go
  internal/resources_acceptance_tests/power_outlet_resource_test.go
  internal/resources_acceptance_tests/power_outlet_template_comprehensive_test.go
  internal/resources_acceptance_tests/power_outlet_template_resource_test.go
  internal/resources_acceptance_tests/power_panel_resource_test.go
  internal/resources_acceptance_tests/power_port_resource_test.go
  internal/resources_acceptance_tests/power_port_template_resource_test.go
  internal/resources_acceptance_tests/provider_resource_test.go
  internal/resources_acceptance_tests/rack_resource_test.go
  internal/resources_acceptance_tests/rack_role_resource_test.go
  internal/resources_acceptance_tests/rack_type_resource_test.go
  internal/resources_acceptance_tests/tunnel_resource_test.go
  internal/resources_acceptance_tests/tunnel_status_comprehensive_test.go
  internal/resources_acceptance_tests/virtual_machine_resource_test.go
  internal/resources_acceptance_tests/virtual_machine_status_comprehensive_test.go
  internal/resources_acceptance_tests/vlan_resource_test.go
  internal/resources_acceptance_tests/vlan_status_comprehensive_test.go
  internal/resources_acceptance_tests/vm_interface_mode_comprehensive_test.go
  internal/resources_acceptance_tests/vm_interface_resource_test.go
  internal/resources_acceptance_tests_customfields/device_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test: move schema_safety_test.go to datasources_unit_tests folder
  internal/datasources/schema_safety_test.go
  internal/datasources_unit_tests/schema_safety_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix acceptance test failures
  internal/resources/site_resource.go
  internal/resources_acceptance_tests/fhrp_group_assignment_resource_test.go
  internal/resources_acceptance_tests/virtual_disk_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix datasource test double-parallel panic
  internal/datasources_acceptance_tests/l2vpn_data_source_test.go
  internal/datasources_acceptance_tests/l2vpn_termination_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix syntax error in IPSec proposal datasource test - missing opening brace in data block definition
  internal/datasources_acceptance_tests/ipsec_proposal_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: add comprehensive implementation plan for reference field consistency
  REFERENCE_FIELD_CONSISTENCY_IMPLEMENTATION_PLAN.md
Due: none

feat: implement Batch 1 - Foundation infrastructure for reference field consistency
  go.mod
  internal/schema/attributes_enhanced.go
  internal/schema/attributes_enhanced_test.go
  internal/schema/diff_suppress.go
  internal/schema/diff_suppress_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: implement Batch 2 Part 1 - Replace mock system with real NetBox API integration
  go.mod
  internal/schema/attributes_enhanced.go
  internal/schema/diff_suppress.go
  internal/schema/diff_suppress_test.go
  internal/schema/reference_resolver.go
  internal/schema/reference_resolver_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: update implementation plan with Batch 1 completion and key insights
  REFERENCE_FIELD_CONSISTENCY_IMPLEMENTATION_PLAN.md
Due: none

feat(batch2): Update high-impact resources to use enhanced reference attributes
  internal/resources/device_resource.go
  internal/resources/rack_resource.go
  internal/resources/site_resource.go
  internal/resources/virtual_machine_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Mark Batch 2 as completed in implementation plan
  REFERENCE_FIELD_CONSISTENCY_IMPLEMENTATION_PLAN.md
Due: none

feat(batch3): Update network resources to use enhanced reference attributes
  internal/resources/aggregate_resource.go
  internal/resources/ip_address_resource.go
  internal/resources/prefix_resource.go
  internal/resources/vlan_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Mark Batch 3 as completed in implementation plan
  REFERENCE_FIELD_CONSISTENCY_IMPLEMENTATION_PLAN.md
Due: none

feat(batch4): Update organizational resources to use enhanced reference attributes
  internal/resources/contact_resource.go
  internal/resources/location_resource.go
  internal/resources/region_resource.go
  internal/resources/site_group_resource.go
  internal/resources/tenant_group_resource.go
  internal/resources/tenant_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Mark Batch 4 as completed in implementation plan
  REFERENCE_FIELD_CONSISTENCY_IMPLEMENTATION_PLAN.md
Due: none

feat: Add reference field consistency to device component resources
  internal/resources/console_port_resource.go
  internal/resources/console_server_port_resource.go
  internal/resources/front_port_resource.go
  internal/resources/interface_resource.go
  internal/resources/power_port_resource.go
  internal/resources/rear_port_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: update template resources to use enhanced reference attributes with diff suppression
  internal/resources/console_port_template_resource.go
  internal/resources/console_server_port_template_resource.go
  internal/resources/device_bay_template_resource.go
  internal/resources/front_port_template_resource.go
  internal/resources/interface_template_resource.go
  internal/resources/inventory_item_template_resource.go
  internal/resources/module_bay_template_resource.go
  internal/resources/power_outlet_template_resource.go
  internal/resources/power_port_template_resource.go
  internal/resources/rear_port_template_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: update device component resources to use enhanced reference attributes with diff suppression
  internal/datasources/aggregate_data_source.go
  internal/datasources/asn_data_source.go
  internal/resources/power_outlet_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: update Batch 6 specialized resources to use enhanced reference attributes with diff suppression
  internal/datasources/asn_range_data_source.go
  internal/datasources/cable_data_source.go
  internal/datasources/cable_termination_data_source.go
  internal/resources/cable_resource.go
  internal/resources/inventory_item_resource.go
  internal/resources/module_type_resource.go
  internal/resources/power_feed_resource.go
  internal/resources/service_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Corrected more datasources
  internal/datasources/cable_termination_data_source.go
  internal/datasources/circuit_data_source.go
  internal/datasources/circuit_group_assignment_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: update vm_interface_resource reference fields with diff suppression
  internal/resources/vm_interface_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Updated datasources
  internal/datasources/circuit_data_source.go
  internal/datasources/circuit_group_data_source.go
  internal/datasources/circuit_termination_data_source.go
  internal/datasources/circuit_type_data_source.go
  internal/datasources/cluster_data_source.go
  internal/datasources/cluster_group_data_source.go
  internal/datasources/cluster_type_data_source.go
  internal/datasources/config_context_data_source.go
  internal/datasources/config_template_data_source.go
  internal/datasources/console_port_data_source.go
  internal/datasources/console_port_template_data_source.go
  internal/datasources/console_server_port_data_source.go
  internal/datasources/console_server_port_template_data_source.go
  internal/datasources/contact_assignment_data_source.go
  internal/datasources/contact_data_source.go
  internal/datasources/custom_field_choice_set_data_source.go
  internal/datasources/custom_field_data_source.go
  internal/datasources/custom_link_data_source.go
  internal/datasources/device_bay_data_source.go
  internal/datasources/device_bay_template_data_source.go
  internal/datasources/device_data_source.go
  internal/resources_acceptance_tests/tunnel_termination_resource_test.go
  internal/resources_acceptance_tests/virtual_device_context_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: replace HTTP status code literals with http constants in datasources
  internal/datasources/cluster_data_source.go
  internal/datasources/cluster_type_data_source.go
  internal/datasources/config_context_data_source.go
  internal/datasources/device_data_source.go
  internal/datasources/device_role_data_source.go
  internal/datasources/device_type_data_source.go
  internal/datasources/export_template_data_source.go
  internal/datasources/fhrp_group_assignment_data_source.go
  internal/datasources/fhrp_group_data_source.go
  internal/datasources/front_port_data_source.go
  internal/datasources/front_port_template_data_source.go
  internal/datasources/ike_policy_data_source.go
  internal/datasources/location_data_source.go
  internal/datasources/manufacturer_data_source.go
  internal/datasources/platform_data_source.go
  internal/datasources/rack_data_source.go
  internal/datasources/rack_role_data_source.go
  internal/datasources/region_data_source.go
  internal/datasources/site_data_source.go
  internal/datasources/site_group_data_source.go
  internal/datasources/tenant_data_source.go
  internal/datasources/tenant_group_data_source.go
  internal/datasources/tunnel_data_source.go
  internal/datasources/tunnel_group_data_source.go
  internal/datasources/virtual_machine_data_source.go
  internal/datasources/vm_interface_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

wip: testutil HTTP status cleanup (batches 1-2) + datasource whitespace
  TESTUTIL_HTTP_STATUS_CLEANUP.md
  internal/datasources/ike_policy_data_source.go
  internal/datasources/ike_proposal_data_source.go
  internal/datasources/interface_data_source.go
  internal/testutil/cleanup_dcim.go
  internal/testutil/cleanup_ipam_and_circuits.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: replace HTTP status code literals with http constants in testutil (batches 3-4)
  internal/testutil/check_destroy_dcim.go
  internal/testutil/check_destroy_ipam_and_circuits.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

wip: add provider factories cleanup plan + datasource whitespace
  PROVIDER_FACTORIES_CLEANUP.md
  REFERENCE_FIELD_CONSISTENCY_IMPLEMENTATION_PLAN.md
  TESTUTIL_HTTP_STATUS_CLEANUP.md
  internal/datasources/interface_template_data_source.go
  internal/datasources/inventory_item_data_source.go
  internal/datasources/inventory_item_role_data_source.go
  internal/datasources/inventory_item_template_data_source.go
  internal/datasources/ip_address_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

refactor: replace inline ProtoV6ProviderFactories in customfields tests
  internal/resources_acceptance_tests_customfields/circuit_resource_test.go
  internal/resources_acceptance_tests_customfields/circuit_termination_resource_test.go
  internal/resources_acceptance_tests_customfields/cluster_group_resource_test.go
  internal/resources_acceptance_tests_customfields/cluster_resource_test.go
  internal/resources_acceptance_tests_customfields/cluster_type_resource_test.go
  internal/resources_acceptance_tests_customfields/console_port_resource_test.go
  internal/resources_acceptance_tests_customfields/console_server_port_resource_test.go
  internal/resources_acceptance_tests_customfields/device_bay_resource_test.go
  internal/resources_acceptance_tests_customfields/front_port_resource_test.go
  internal/resources_acceptance_tests_customfields/l2vpn_resource_test.go
  internal/resources_acceptance_tests_customfields/location_resource_test.go
  internal/resources_acceptance_tests_customfields/power_feed_resource_test.go
  internal/resources_acceptance_tests_customfields/rack_resource_test.go
  internal/resources_acceptance_tests_customfields/site_resource_test.go
  internal/resources_acceptance_tests_customfields/virtual_chassis_resource_test.go
  internal/resources_acceptance_tests_customfields/virtual_device_context_resource_test.go
  internal/resources_acceptance_tests_customfields/virtual_disk_resource_test.go
  internal/resources_acceptance_tests_customfields/vlan_resource_test.go
  internal/resources_acceptance_tests_customfields/vm_interface_resource_test.go
  internal/resources_acceptance_tests_customfields/vrf_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Updated datasource whitespace
  PROVIDER_FACTORIES_CLEANUP.md
  internal/datasources/ipsec_proposal_data_source.go
  internal/datasources/journal_entry_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Updated whitespace for datasources
  internal/datasources/l2vpn_data_source.go
  internal/datasources/l2vpn_termination_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

chore: prepare release v0.0.12 - code quality improvements
  CHANGELOG.md
Due: none

docs: add comprehensive plan for custom fields partial management
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources_acceptance_tests/device_custom_fields_preservation_test.go
  internal/testutil/test_constants.go
  test/custom_fields_preservation_test.tf
  test/custom_fields_update_test.tf
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

docs: Expand implementation plan with examples and documentation strategy
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

feat: Add merge-aware custom field helpers for Update operations (Batch 1)
  coverage
  coverage_output.txt
  coverage_utils
  internal/utils/coverage
  internal/utils/request_helpers.go
  internal/utils/request_helpers_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Path conditions:
  golangci-lint-fmt: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: \.go$
  terraform-fmt: any of: \.tf$
  go-generate: any of: \.go$
  tflint: any of: \.tf$
