Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: golangci-lint-fmt
        name: golangci-lint fmt (gofmt + gci)
        entry: go run ./scripts/golangci_wrapper fmt
        types: [go]
        language: system
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: go run ./scripts/golangci_wrapper run --fix
        types: [go]
        language: system
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        types: [go]
        language: system
        pass_filenames: false

      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -recursive ./examples
        language: system
        files: \.tf$
        pass_filenames: false

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: tflint
        name: tflint
        entry: go run scripts/tflint_wrapper.go
        language: system
        files: \.tf$
        pass_filenames: false

feat: Implement device resource with merge-aware custom fields (Batch 2)
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/device_resource.go
  internal/resources_acceptance_tests/device_custom_fields_preservation_test.go
  internal/resources_acceptance_tests_customfields/device_custom_fields_preservation_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Update plan with Batch 1 and 2 completion status
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

Batch 2 complete: Device resource with filter-to-owned pattern
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  coverage_output.txt
  internal/planmodifiers/custom_fields.go
  internal/resources/device_resource.go
  internal/resources_acceptance_tests_customfields/device_custom_fields_preservation_test.go
  internal/resources_acceptance_tests_customfields/device_resource_test.go
  internal/utils/request_helpers.go
  internal/utils/state_helpers.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Whitespace fixes for datasources
  internal/datasources/location_data_source.go
  internal/datasources/module_bay_data_source.go
  internal/datasources/module_bay_template_data_source.go
  internal/datasources/module_data_source.go
  internal/datasources/module_type_data_source.go
  internal/datasources/platform_data_source.go
  internal/datasources/power_feed_data_source.go
  internal/datasources/power_outlet_data_source.go
  internal/datasources/power_outlet_template_data_source.go
  internal/datasources/power_panel_data_source.go
  internal/datasources/power_port_data_source.go
  internal/datasources/power_port_template_data_source.go
  internal/datasources/prefix_data_source.go
  internal/datasources/provider_account_data_source.go
  internal/datasources/provider_data_source.go
  internal/datasources/provider_network_data_source.go
  internal/datasources/rack_data_source.go
  internal/datasources/rack_reservation_data_source.go
  internal/datasources/rack_role_data_source.go
  internal/datasources/rack_type_data_source.go
  internal/datasources/rear_port_data_source.go
  internal/datasources/rear_port_template_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Whitespace fixes for datasources
  internal/datasources/rear_port_template_data_source.go
  internal/datasources/region_data_source.go
  internal/datasources/rir_data_source.go
  internal/datasources/role_data_source.go
  internal/datasources/route_target_data_source.go
  internal/datasources/schema_safety_test.go
  internal/datasources/script_data_source.go
  internal/datasources/service_data_source.go
  internal/datasources/service_template_data_source.go
  internal/datasources/site_data_source.go
  internal/datasources/site_group_data_source.go
  internal/datasources/tenant_data_source.go
  internal/datasources/tunnel_data_source.go
  internal/datasources/tunnel_group_data_source.go
  internal/datasources/tunnel_termination_data_source.go
  internal/datasources/user_data_source.go
  internal/datasources/virtual_chassis_data_source.go
  internal/datasources/virtual_device_context_data_source.go
  internal/datasources/virtual_disk_data_source.go
  internal/datasources/virtual_machine_data_source.go
  internal/datasources/vlan_data_source.go
  internal/datasources/vlan_group_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Whitespace fixes for datasources
  internal/datasources/vm_interface_data_source.go
  internal/datasources/vrf_data_source.go
  internal/datasources/wireless_lan_data_source.go
  internal/datasources/wireless_lan_group_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Whitespace fixes for datasources
  internal/datasources/wireless_link_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add random name generation to RIR custom fields tests
  internal/resources/aggregate_resource.go
  internal/resources/asn_resource.go
  internal/resources/circuit_resource.go
  internal/resources/ip_address_resource.go
  internal/resources/ip_range_resource.go
  internal/resources/prefix_resource.go
  internal/resources/rir_resource.go
  internal/resources/route_target_resource.go
  internal/resources/service_resource.go
  internal/resources/vlan_resource.go
  internal/resources/vrf_resource.go
  internal/resources_acceptance_tests_customfields/aggregate_resource_test.go
  internal/resources_acceptance_tests_customfields/asn_resource_test.go
  internal/resources_acceptance_tests_customfields/circuit_resource_test.go
  internal/resources_acceptance_tests_customfields/ip_address_resource_test.go
  internal/resources_acceptance_tests_customfields/ip_range_resource_test.go
  internal/resources_acceptance_tests_customfields/prefix_resource_test.go
  internal/resources_acceptance_tests_customfields/rir_resource_test.go
  internal/resources_acceptance_tests_customfields/route_target_resource_test.go
  internal/resources_acceptance_tests_customfields/service_resource_test.go
  internal/resources_acceptance_tests_customfields/vlan_resource_test.go
  internal/resources_acceptance_tests_customfields/vrf_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add custom fields support for VLAN Group and Provider resources (Batch 3)
  internal/resources/provider_resource.go
  internal/resources/vlan_group_resource.go
  internal/resources_acceptance_tests_customfields/provider_resource_test.go
  internal/resources_acceptance_tests_customfields/vlan_group_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add merge-aware custom fields to Batch 4 DCIM resources (Site, Location, Rack, DeviceType)
  internal/resources/device_type_resource.go
  internal/resources/location_resource.go
  internal/resources/rack_resource.go
  internal/resources/site_resource.go
  internal/resources_acceptance_tests_customfields/device_type_resource_test.go
  internal/resources_acceptance_tests_customfields/location_resource_test.go
  internal/resources_acceptance_tests_customfields/rack_resource_test.go
  internal/resources_acceptance_tests_customfields/site_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add merge-aware custom fields to Batch 4 DCIM resources (Region, DeviceBay, InventoryItem, ModuleType)
  internal/resources/device_bay_resource.go
  internal/resources/inventory_item_resource.go
  internal/resources/module_type_resource.go
  internal/resources/region_resource.go
  internal/resources_acceptance_tests_customfields/device_bay_resource_test.go
  internal/resources_acceptance_tests_customfields/inventory_item_resource_test.go
  internal/resources_acceptance_tests_customfields/region_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add merge-aware custom fields to Batch 4 final resources (Interface, ConsolePort, PowerPort, Cable)
  internal/resources/cable_resource.go
  internal/resources/console_port_resource.go
  internal/resources/interface_resource.go
  internal/resources/power_port_resource.go
  internal/resources_acceptance_tests_customfields/cable_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/console_port_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/interface_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/power_port_resource_preservation_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix Batch 4 preservation tests - preserve CF definitions and correct test expectations
  internal/resources_acceptance_tests_customfields/cable_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/console_port_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/interface_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/power_port_resource_preservation_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add merge-aware custom field handling to Batch 5 first 4 resources (Circuit, CircuitType, Provider, L2VPN) with preservation tests
  internal/resources/circuit_type_resource.go
  internal/resources/l2vpn_resource.go
  internal/resources_acceptance_tests_customfields/circuit_type_resource_test.go
  internal/resources_acceptance_tests_customfields/l2vpn_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add merge-aware custom field handling to Batch 5 resources 5-9 (circuit_termination, circuit_group, circuit_group_assignment, provider_account, l2vpn_termination) with preservation tests
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/circuit_group_assignment_resource.go
  internal/resources/circuit_group_resource.go
  internal/resources/circuit_termination_resource.go
  internal/resources/l2vpn_termination_resource.go
  internal/resources/provider_account_resource.go
  internal/resources_acceptance_tests_customfields/circuit_group_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/circuit_termination_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/l2vpn_termination_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/provider_account_resource_preservation_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test: Fix custom fields acceptance tests
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/provider_network_resource.go
  internal/resources/tunnel_group_resource.go
  internal/resources/tunnel_resource.go
  internal/resources/tunnel_termination_resource.go
  internal/resources_acceptance_tests_customfields/cable_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/cable_resource_test.go
  internal/resources_acceptance_tests_customfields/circuit_group_resource_test.go
  internal/resources_acceptance_tests_customfields/circuit_termination_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/circuit_termination_resource_test.go
  internal/resources_acceptance_tests_customfields/console_port_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/device_bay_resource_test.go
  internal/resources_acceptance_tests_customfields/interface_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/inventory_item_resource_test.go
  internal/resources_acceptance_tests_customfields/l2vpn_termination_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/power_port_resource_preservation_test.go
  internal/resources_acceptance_tests_customfields/provider_account_resource_preservation_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Reorganize custom fields implementation plan
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

feat: Complete Batch 4 - IPAM Core Resources custom fields
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/asn_range_resource.go
  internal/resources/vrf_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: Start Batch 5 - First 4 DCIM Resources
  internal/resources/device_role_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: Continue Batch 5 - Add manufacturer resource
  internal/resources/manufacturer_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: Continue Batch 5 - Update interface, inventory_item, console_port, power_port resources
  internal/resources/console_port_resource.go
  internal/resources/interface_resource.go
  internal/resources/inventory_item_resource.go
  internal/resources/power_port_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Update rear_port and front_port resources to merge-aware pattern
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/console_server_port_resource.go
  internal/resources/front_port_resource.go
  internal/resources/module_bay_resource.go
  internal/resources/power_outlet_resource.go
  internal/resources/rear_port_resource.go
  internal/resources_acceptance_tests_customfields/front_port_resource_test.go
  internal/resources_acceptance_tests_customfields/rear_port_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Update Batch 5 progress: 18 of ~25 DCIM resources complete
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

feat(resources): Update 5 DCIM resources to merge-aware custom fields pattern
  internal/resources/power_panel_resource.go
  internal/resources/rack_reservation_resource.go
  internal/resources/rack_role_resource.go
  internal/resources/site_group_resource.go
  internal/resources/virtual_chassis_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Update Batch 5 progress - now 92% complete (23/25 resources)
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

Add acceptance tests for Batch 5 DCIM resources custom fields preservation
  internal/resources_acceptance_tests_customfields/power_panel_resource_test.go
  internal/resources_acceptance_tests_customfields/rack_reservation_resource_test.go
  internal/resources_acceptance_tests_customfields/rack_role_resource_test.go
  internal/resources_acceptance_tests_customfields/site_group_resource_test.go
  internal/resources_acceptance_tests_customfields/virtual_chassis_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Complete Batch 5: Update module_bay and power_feed resources to merge-aware pattern
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/module_bay_resource.go
  internal/resources/power_feed_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Start Batch 6: Update first 4 virtualization/tenancy resources to merge-aware pattern
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/cluster_resource.go
  internal/resources/cluster_type_resource.go
  internal/resources/tenant_resource.go
  internal/resources/virtual_machine_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Continue Batch 6: Update cluster_group, tenant_group, and contact_group to merge-aware pattern
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/cluster_group_resource.go
  internal/resources/contact_group_resource.go
  internal/resources/tenant_group_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add custom fields preservation tests for Batch 6 resources
  internal/resources_acceptance_tests_customfields/cluster_group_resource_test.go
  internal/resources_acceptance_tests_customfields/contact_group_resource_test.go
  internal/resources_acceptance_tests_customfields/tenant_group_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Update progress documentation with test commit hashes
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

Update remaining Batch 6 resources to merge-aware pattern
  internal/resources/contact_assignment_resource.go
  internal/resources/contact_resource.go
  internal/resources/contact_role_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Add preservation tests for final Batch 6 resources and fix tags handling in contact resource
  internal/resources/contact_resource.go
  internal/resources_acceptance_tests_customfields/contact_assignment_resource_test.go
  internal/resources_acceptance_tests_customfields/contact_resource_test.go
  internal/resources_acceptance_tests_customfields/contact_role_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch7): wireless_lan and wireless_lan_group - merge-aware with helper functions
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/wireless_lan_group_resource.go
  internal/resources/wireless_lan_resource.go
  internal/resources_acceptance_tests_customfields/wireless_lan_group_resource_test.go
  internal/resources_acceptance_tests_customfields/wireless_lan_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: batch 7 partial - wireless_link and config_context merge-aware patterns
  internal/resources/config_context_resource.go
  internal/resources/wireless_link_resource.go
  internal/resources_acceptance_tests_customfields/config_context_resource_test.go
  internal/resources_acceptance_tests_customfields/wireless_link_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: batch 7 partial 2 - service and service_template merge-aware patterns
  internal/resources/service_resource.go
  internal/resources/service_template_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: batch 7 - add preservation tests for service and service_template
  internal/resources/service_resource.go
  internal/resources/service_template_resource.go
  internal/resources_acceptance_tests_customfields/service_template_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: batch 7 complete - update planning document
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

docs: expand batch 8-10 with comprehensive resource lists and details
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

docs(examples): add comprehensive custom fields examples for device resource
  examples/resources/netbox_device/clear_all_custom_fields.tf
  examples/resources/netbox_device/external_custom_fields.tf
  examples/resources/netbox_device/remove_custom_fields.tf
  examples/resources/netbox_device/resource.tf
Due: terraform-fmt, tflint
