Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: golangci-lint-fmt
        name: golangci-lint fmt (gofmt + gci)
        entry: go run ./scripts/golangci_wrapper fmt
        types: [go]
        language: system
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: go run ./scripts/golangci_wrapper run --fix
        types: [go]
        language: system
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        types: [go]
        language: system
        pass_filenames: false

      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -recursive ./examples
        language: system
        files: \.tf$
        pass_filenames: false

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: tflint
        name: tflint
        entry: go run scripts/tflint_wrapper.go
        language: system
        files: \.tf$
        pass_filenames: false

docs: Document nullable field bugfix and test improvements in CHANGELOG
  CHANGELOG.md
  NULLABLE_FIELDS_BATCH_TRACKING.md
  NULLABLE_FIELDS_BUGFIX_PLAN.md
  power_feed_test_fix2.txt
Due: none

docs: Add comprehensive plan for datasource custom fields implementation
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
Due: none

feat(datasources): Pilot implementation - site datasource returns all custom fields
  internal/datasources/site_data_source.go
  internal/datasources_acceptance_tests_customfields/site_data_source_test.go
  internal/datasources_acceptance_tests_customfields/test_main_test.go
  internal/utils/common.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Update ASN datasource to return all custom fields
  internal/datasources/asn_data_source.go
  internal/datasources_acceptance_tests_customfields/asn_data_source_test.go
  internal/datasources_acceptance_tests_customfields/asn_range_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Update circuit datasources to return all custom fields
  internal/datasources/circuit_data_source.go
  internal/datasources/circuit_type_data_source.go
  internal/datasources_acceptance_tests_customfields/circuit_data_source_test.go
  internal/datasources_acceptance_tests_customfields/circuit_type_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Update cluster datasources to return all custom fields
  internal/datasources/cluster_data_source.go
  internal/datasources/cluster_type_data_source.go
  internal/datasources_acceptance_tests_customfields/cluster_data_source_test.go
  internal/datasources_acceptance_tests_customfields/cluster_type_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Add full custom fields support to ip_address, ip_range, and route_target
  internal/datasources/ip_address_data_source.go
  internal/datasources/ip_range_data_source.go
  internal/datasources/route_target_data_source.go
  internal/datasources_acceptance_tests_customfields/ip_address_data_source_test.go
  internal/datasources_acceptance_tests_customfields/ip_range_data_source_test.go
  internal/datasources_acceptance_tests_customfields/route_target_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Add full custom fields support to asn_range
  internal/datasources/asn_range_data_source.go
  internal/datasources_acceptance_tests_customfields/asn_range_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Complete Batch 1 - Add custom fields to prefix, vlan, and vrf
  internal/datasources/prefix_data_source.go
  internal/datasources/vlan_data_source.go
  internal/datasources/vrf_data_source.go
  internal/datasources_acceptance_tests_customfields/prefix_data_source_test.go
  internal/datasources_acceptance_tests_customfields/vlan_data_source_test.go
  internal/datasources_acceptance_tests_customfields/vrf_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Complete Batch 2 (first 4) - Add custom fields to device, device_type, device_role, and rack
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/device_data_source.go
  internal/datasources/device_role_data_source.go
  internal/datasources/device_type_data_source.go
  internal/datasources/rack_data_source.go
  internal/datasources_acceptance_tests_customfields/device_data_source_test.go
  internal/datasources_acceptance_tests_customfields/device_role_data_source_test.go
  internal/datasources_acceptance_tests_customfields/device_type_data_source_test.go
  internal/datasources_acceptance_tests_customfields/rack_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Complete Batch 2 (next 4) - Add custom fields to rack_role, location, manufacturer, and platform
  internal/datasources/location_data_source.go
  internal/datasources/manufacturer_data_source.go
  internal/datasources/platform_data_source.go
  internal/datasources/rack_role_data_source.go
  internal/datasources_acceptance_tests_customfields/location_data_source_test.go
  internal/datasources_acceptance_tests_customfields/manufacturer_data_source_test.go
  internal/datasources_acceptance_tests_customfields/platform_data_source_test.go
  internal/datasources_acceptance_tests_customfields/rack_role_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Complete Batch 2 - Add custom fields to interface, cable, device_bay, and module datasources
  internal/datasources/cable_data_source.go
  internal/datasources/device_bay_data_source.go
  internal/datasources/interface_data_source.go
  internal/datasources/module_data_source.go
  internal/datasources_acceptance_tests_customfields/cable_data_source_test.go
  internal/datasources_acceptance_tests_customfields/device_bay_data_source_test.go
  internal/datasources_acceptance_tests_customfields/interface_data_source_test.go
  internal/datasources_acceptance_tests_customfields/module_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Update plan document with Batch 2 completion
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
Due: none

feat(datasources): Complete Batch 3 Group 1 - Add custom fields to first 4 virtualization datasources
  internal/datasources/virtual_device_context_data_source.go
  internal/datasources/virtual_disk_data_source.go
  internal/datasources/virtual_machine_data_source.go
  internal/datasources/vm_interface_data_source.go
  internal/datasources_acceptance_tests_customfields/virtual_device_context_data_source_test.go
  internal/datasources_acceptance_tests_customfields/virtual_disk_data_source_test.go
  internal/datasources_acceptance_tests_customfields/virtual_machine_data_source_test.go
  internal/datasources_acceptance_tests_customfields/vm_interface_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(datasources): Complete Batch 3 Group 2 - Add custom fields to tenant/contact datasources
  internal/datasources/cluster_group_data_source.go
  internal/datasources/contact_data_source.go
  internal/datasources/tenant_data_source.go
  internal/datasources/tenant_group_data_source.go
  internal/datasources_acceptance_tests_customfields/cluster_group_data_source_test.go
  internal/datasources_acceptance_tests_customfields/contact_data_source_test.go
  internal/datasources_acceptance_tests_customfields/tenant_data_source_test.go
  internal/datasources_acceptance_tests_customfields/tenant_group_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs(batch3): Mark Batch 3 complete in plan document
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/contact_group_data_source.go
  internal/datasources/contact_role_data_source.go
  internal/datasources_acceptance_tests_customfields/contact_group_data_source_test.go
  internal/datasources_acceptance_tests_customfields/contact_role_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch4): Implement custom fields for first 4 Batch 4 datasources
  internal/datasources/circuit_group_data_source.go
  internal/datasources/provider_account_data_source.go
  internal/datasources/provider_data_source.go
  internal/datasources/provider_network_data_source.go
  internal/datasources_acceptance_tests_customfields/circuit_group_data_source_test.go
  internal/datasources_acceptance_tests_customfields/provider_account_data_source_test.go
  internal/datasources_acceptance_tests_customfields/provider_data_source_test.go
  internal/datasources_acceptance_tests_customfields/provider_network_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch4): Implement custom fields for second 4 Batch 4 datasources
  internal/datasources/ike_policy_data_source.go
  internal/datasources/l2vpn_data_source.go
  internal/datasources/tunnel_data_source.go
  internal/datasources/tunnel_group_data_source.go
  internal/datasources_acceptance_tests_customfields/ike_policy_data_source_test.go
  internal/datasources_acceptance_tests_customfields/l2vpn_data_source_test.go
  internal/datasources_acceptance_tests_customfields/tunnel_data_source_test.go
  internal/datasources_acceptance_tests_customfields/tunnel_group_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch5): Complete Batch 5 - 12 port/interface datasources with custom fields
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/console_port_data_source.go
  internal/datasources/console_server_port_data_source.go
  internal/datasources/front_port_data_source.go
  internal/datasources/ike_proposal_data_source.go
  internal/datasources/inventory_item_data_source.go
  internal/datasources/inventory_item_role_data_source.go
  internal/datasources/ipsec_policy_data_source.go
  internal/datasources/ipsec_profile_data_source.go
  internal/datasources/ipsec_proposal_data_source.go
  internal/datasources/module_bay_data_source.go
  internal/datasources/power_feed_data_source.go
  internal/datasources/power_outlet_data_source.go
  internal/datasources/power_panel_data_source.go
  internal/datasources/power_port_data_source.go
  internal/datasources/rack_reservation_data_source.go
  internal/datasources/rear_port_data_source.go
  internal/datasources_acceptance_tests_customfields/console_port_data_source_test.go
  internal/datasources_acceptance_tests_customfields/console_server_port_data_source_test.go
  internal/datasources_acceptance_tests_customfields/front_port_data_source_test.go
  internal/datasources_acceptance_tests_customfields/ike_proposal_data_source_test.go
  internal/datasources_acceptance_tests_customfields/inventory_item_data_source_test.go
  internal/datasources_acceptance_tests_customfields/inventory_item_role_data_source_test.go
  internal/datasources_acceptance_tests_customfields/ipsec_policy_data_source_test.go
  internal/datasources_acceptance_tests_customfields/ipsec_profile_data_source_test.go
  internal/datasources_acceptance_tests_customfields/ipsec_proposal_data_source_test.go
  internal/datasources_acceptance_tests_customfields/module_bay_data_source_test.go
  internal/datasources_acceptance_tests_customfields/power_feed_data_source_test.go
  internal/datasources_acceptance_tests_customfields/power_outlet_data_source_test.go
  internal/datasources_acceptance_tests_customfields/power_panel_data_source_test.go
  internal/datasources_acceptance_tests_customfields/power_port_data_source_test.go
  internal/datasources_acceptance_tests_customfields/rack_reservation_data_source_test.go
  internal/datasources_acceptance_tests_customfields/rear_port_data_source_test.go
  internal/netboxlookup/generic_lookup.go
  internal/resources/power_outlet_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch6): Complete Batch 6 - 10 wireless/services datasources with custom fields
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/aggregate_data_source.go
  internal/datasources/fhrp_group_data_source.go
  internal/datasources/rir_data_source.go
  internal/datasources/role_data_source.go
  internal/datasources/service_data_source.go
  internal/datasources/service_template_data_source.go
  internal/datasources/vlan_group_data_source.go
  internal/datasources/wireless_lan_data_source.go
  internal/datasources/wireless_lan_group_data_source.go
  internal/datasources/wireless_link_data_source.go
  internal/datasources_acceptance_tests_customfields/aggregate_data_source_test.go
  internal/datasources_acceptance_tests_customfields/fhrp_group_data_source_test.go
  internal/datasources_acceptance_tests_customfields/rir_data_source_test.go
  internal/datasources_acceptance_tests_customfields/role_data_source_test.go
  internal/datasources_acceptance_tests_customfields/service_data_source_test.go
  internal/datasources_acceptance_tests_customfields/service_template_data_source_test.go
  internal/datasources_acceptance_tests_customfields/vlan_group_data_source_test.go
  internal/datasources_acceptance_tests_customfields/wireless_lan_data_source_test.go
  internal/datasources_acceptance_tests_customfields/wireless_lan_group_data_source_test.go
  internal/datasources_acceptance_tests_customfields/wireless_link_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch7): Complete Batch 7 datasources custom fields
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/event_rule_data_source.go
  internal/datasources/journal_entry_data_source.go
  internal/datasources/webhook_data_source.go
  internal/datasources_acceptance_tests_customfields/event_rule_data_source_test.go
  internal/datasources_acceptance_tests_customfields/journal_entry_data_source_test.go
  internal/datasources_acceptance_tests_customfields/webhook_data_source_test.go
  internal/resources/webhook_resource.go
  internal/resources_acceptance_tests_customfields/webhook_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(batch8): Complete Batch 8 datasources custom fields (first 5 items)
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/module_type_data_source.go
  internal/datasources/rack_type_data_source.go
  internal/datasources/region_data_source.go
  internal/datasources/site_group_data_source.go
  internal/datasources/tunnel_termination_data_source.go
  internal/datasources/virtual_chassis_data_source.go
  internal/datasources_acceptance_tests_customfields/module_type_data_source_test.go
  internal/datasources_acceptance_tests_customfields/rack_type_data_source_test.go
  internal/datasources_acceptance_tests_customfields/region_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(final): Complete final 3 datasources custom fields
  DATASOURCE_CUSTOM_FIELDS_PLAN.md
  internal/datasources/circuit_termination_data_source.go
  internal/datasources/contact_assignment_data_source.go
  internal/datasources/l2vpn_termination_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test(final): Add custom fields tests for final 3 datasources
  internal/datasources_acceptance_tests_customfields/circuit_termination_data_source_test.go
  internal/datasources_acceptance_tests_customfields/contact_assignment_data_source_test.go
  internal/datasources_acceptance_tests_customfields/l2vpn_termination_data_source_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

WIP: add plural query datasources for devices and VMs
  QUERY_DATASOURCES_PLAN.md
  examples/data-sources/netbox_devices/data-source.tf
  examples/data-sources/netbox_virtual_machines/data-source.tf
  internal/datasources/devices_data_source.go
  internal/datasources/virtual_machines_data_source.go
  internal/datasources_acceptance_tests/devices_data_source_test.go
  internal/datasources_acceptance_tests/virtual_machines_data_source_test.go
  internal/datasources_acceptance_tests_customfields/devices_data_source_test.go
  internal/datasources_acceptance_tests_customfields/virtual_machines_data_source_test.go
  internal/datasources_unit_tests/devices_data_source_test.go
  internal/datasources_unit_tests/virtual_machines_data_source_test.go
  internal/provider/provider.go
  internal/utils/custom_field_filters.go
  internal/utils/query_filters.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

Add plural query datasources (interfaces, ip_addresses, prefixes)
  .gitignore
  .vscode/tasks.json
  Makefile
  QUERY_DATASOURCES_PLAN.md
  docs/data-sources/devices.md
  examples/data-sources/netbox_interfaces/data-source.tf
  examples/data-sources/netbox_ip_addresses/data-source.tf
  examples/data-sources/netbox_prefixes/data-source.tf
  internal/datasources/interfaces_data_source.go
  internal/datasources/ip_addresses_data_source.go
  internal/datasources/prefixes_data_source.go
  internal/datasources/query_filter_keys.go
  internal/datasources_acceptance_tests/interfaces_data_source_test.go
  internal/datasources_acceptance_tests/ip_addresses_data_source_test.go
  internal/datasources_acceptance_tests/prefixes_data_source_test.go
  internal/datasources_acceptance_tests_customfields/interfaces_data_source_test.go
  internal/datasources_acceptance_tests_customfields/ip_addresses_data_source_test.go
  internal/datasources_acceptance_tests_customfields/prefixes_data_source_test.go
  internal/datasources_unit_tests/interfaces_data_source_test.go
  internal/datasources_unit_tests/ip_addresses_data_source_test.go
  internal/datasources_unit_tests/prefixes_data_source_test.go
  internal/provider/provider.go
  scripts/run-acceptance-tests.ps1
  scripts/run-acceptance-tests.sh
  scripts/run-unit-tests.ps1
  scripts/run-unit-tests.sh
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

Release v0.0.14
  CHANGELOG.md
Due: none

test: fix cable external deletion flake
  internal/resources_acceptance_tests/cable_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 1 Batch 1A: Complete analysis of optional field null handling
  BUGFIX_ANALYSIS_null_handling.csv
  BUGFIX_ANALYSIS_optional_field_null_handling.csv
  BUGFIX_PLAN_optional_field_null_handling.md
  internal/resources/asn_resource.go
  internal/resources_acceptance_tests/asn_resource_test.go
  scripts/analyze-null-handling-simple.ps1
  scripts/analyze-optional-field-null-handling-v2.ps1
  scripts/analyze-optional-field-null-handling.ps1
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 1 Batch 1B: Create test infrastructure for optional field null handling
  CONTRIBUTING.md
  DEVELOPMENT.md
  docs/TESTING_OPTIONAL_FIELDS.md
  internal/testutil/optional_field_tests.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(aggregate): Add null handling for optional fields (description, comments, date_added, tenant)
  BUGFIX_PLAN_optional_field_null_handling.md
  internal/resources/aggregate_resource.go
  internal/resources_acceptance_tests/aggregate_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(ip_address): Add null handling for optional fields (description, comments)
  internal/resources/ip_address_resource.go
  internal/resources_acceptance_tests/ip_address_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(prefix): Add null handling for optional fields (description, comments)
  internal/resources/prefix_resource.go
  internal/resources_acceptance_tests/prefix_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(ip_range): Add null handling for optional fields (description, comments)
  BUGFIX_PLAN_optional_field_null_handling.md
  internal/resources/ip_range_resource.go
  internal/resources_acceptance_tests/ip_range_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(utils): Add null handling to ApplyDescription and ApplyComments helpers
  internal/resources_acceptance_tests/vrf_resource_test.go
  internal/utils/request_helpers.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Complete Batch 2A - Core IPAM Resources
  BUGFIX_PLAN_optional_field_null_handling.md
Due: none

fix(batch2b): Complete Batch 2B - Core DCIM Resources
  internal/resources/interface_resource.go
  internal/resources_acceptance_tests/interface_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Complete Batch 2B - Core DCIM Resources
  BUGFIX_PLAN_optional_field_null_handling.md
Due: none

test(batch2b): Add tests for site and device resources to verify utility function fixes
  internal/resources_acceptance_tests/device_resource_test.go
  internal/resources_acceptance_tests/site_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate
