Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

golangci-lint-fmt:
  name: golangci-lint fmt (gofmt + gci)
  entry: go run ./scripts/golangci_wrapper fmt
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: go run ./scripts/golangci_wrapper run --fix
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -recursive ./examples
  language: system
  pass_filenames: false

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: go run scripts/tflint_wrapper.go
  language: system
  pass_filenames: false

Phase 9 Batch 9.10: Sites & Org Data Sources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.11: Device Data Sources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.12: Component Data Sources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.13: Config & Virtualization Data Sources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.14: Circuits & VPN Data Sources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.15: Wireless Data Sources - All clean - PHASE 9 COMPLETE
  CLEANUP_PLAN.md
Due: none

Fix Cable resource status default value
  .gitignore
  acceptance_tests_20251230_084200.txt
  acceptance_tests_20251230_094607.txt
  acceptance_tests_20251230_113714.txt
  acceptance_tests_datasources_20251230_111616.txt
  internal/datasources_acceptance_tests/module_bay_data_source_test.go
  internal/resources/cable_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: correct port template test configurations and resource references
  CLEANUP_PLAN.md
  acceptance_tests_20251230_084200.txt
  acceptance_tests_20251230_094607.txt
  acceptance_tests_20251230_113714.txt
  acceptance_tests_datasources_20251230_111616.txt
  internal/testutil/cleanup_dcim.go
  internal/testutil/cleanup_ipam_and_circuits.go
  test/terraform/data-sources/front_port_template/main.tf
  test/terraform/data-sources/rear_port_template/main.tf
  test/terraform/resources/front_port_template/main.tf
  test/terraform/resources/rear_port_template/main.tf
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

Fix: front_port data source outputs - align with actual schema attributes
  CLEANUP_PLAN.md
  test/terraform/data-sources/front_port/main.tf
  test/terraform/data-sources/front_port/outputs.tf
  test/terraform/resources/front_port/main.tf
Due: terraform-fmt, tflint

Improve test cleanup: Add pre-cleanup for aggregates and IP ranges to prevent overlaps
  CLEANUP_PLAN.md
  scripts/run-terraform-tests.ps1
Due: none

Update progress: Batches 10.6-10.10 complete - all 204 Terraform integration tests passing (100% pass rate)
  CLEANUP_PLAN.md
Due: none

Final: Phase 10 complete - 204/204 Terraform integration tests passing
  CLEANUP_PLAN.md
Due: none

Release v0.0.10: Phase 10 complete - 204 Terraform integration tests passing, improved cleanup, fixed port templates and data sources
  CHANGELOG.md
  CLEANUP_PLAN.md
  PR_DESCRIPTION.md
Due: none

Fix: .gitignore formatting (line endings and EOF)
  .gitignore
Due: none

Fix VM interface mode inconsistency and add comprehensive tests
  internal/resources/vm_interface_resource.go
  internal/resources_acceptance_tests/ip_address_resource_test.go
  internal/resources_acceptance_tests/vm_interface_resource_test.go
  internal/utils/state_helpers_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix high-priority status field bugs and add systematic test framework
  OPTIONAL_FIELD_FIXES.md
  internal/resources/device_resource.go
  internal/resources/tunnel_resource.go
  internal/resources/virtual_machine_resource.go
  internal/resources/vlan_resource.go
  internal/resources_acceptance_tests/device_status_optional_field_test.go
  internal/testutil/optional_field_tests.go
  scripts/find_optional_field_bugs.py
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix interface and interface_template optional field bugs
  OPTIONAL_FIELD_FIXES.md
  internal/resources/interface_resource.go
  internal/resources/interface_template_resource.go
  internal/resources_acceptance_tests/interface_enabled_optional_field_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix power and template optional field bugs
  OPTIONAL_FIELD_FIXES.md
  internal/resources/front_port_template_resource.go
  internal/resources/power_feed_resource.go
  internal/resources/power_outlet_template_resource.go
  internal/resources/power_port_template_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix final miscellaneous optional field bugs - 100% COMPLETE!
  OPTIONAL_FIELD_FIXES.md
  internal/resources/journal_entry_resource.go
  internal/resources/rear_port_resource.go
  internal/resources/role_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: resolve 20 optional field bugs causing crashes and drift
  OPTIONAL_FIELD_FIXES.md
  internal/resources/device_resource.go
  internal/resources/front_port_template_resource.go
  internal/resources/interface_resource.go
  internal/resources/interface_template_resource.go
  internal/resources/journal_entry_resource.go
  internal/resources/power_feed_resource.go
  internal/resources/power_outlet_template_resource.go
  internal/resources/rear_port_resource.go
  internal/resources/role_resource.go
  internal/resources/tunnel_resource.go
  internal/resources/virtual_machine_resource.go
  internal/resources/vlan_resource.go
  internal/resources_acceptance_tests/device_status_optional_field_test.go
  internal/resources_acceptance_tests/interface_enabled_optional_field_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: add comprehensive test coverage framework plan
  COMPREHENSIVE_TEST_PLAN.md
Due: none

fix: correct power_port_template.label Optional+Computed pattern
  OPTIONAL_FIELD_FIXES.md
  internal/resources/power_port_template_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: implement comprehensive testing framework for optional fields
  COMPREHENSIVE_TEST_PLAN.md
  OPTIONAL_FIELD_FIXES.md
  internal/resources/front_port_template_resource.go
  internal/resources/journal_entry_resource.go
  internal/resources/power_outlet_template_resource.go
  internal/resources/power_port_template_resource.go
  internal/resources/rear_port_template_resource.go
  internal/resources/tunnel_resource.go
  internal/resources/vlan_resource.go
  internal/resources_acceptance_tests/device_status_comprehensive_test.go
  internal/resources_acceptance_tests/front_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/interface_enabled_comprehensive_test.go
  internal/resources_acceptance_tests/interface_template_enabled_comprehensive_test.go
  internal/resources_acceptance_tests/journal_entry_comprehensive_test.go
  internal/resources_acceptance_tests/power_feed_comprehensive_test.go
  internal/resources_acceptance_tests/power_outlet_template_comprehensive_test.go
  internal/resources_acceptance_tests/power_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/rear_port_comprehensive_test.go
  internal/resources_acceptance_tests/rear_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/role_weight_comprehensive_test.go
  internal/resources_acceptance_tests/tunnel_status_comprehensive_test.go
  internal/resources_acceptance_tests/virtual_machine_status_comprehensive_test.go
  internal/resources_acceptance_tests/vlan_status_comprehensive_test.go
  internal/resources_acceptance_tests/vm_interface_mode_comprehensive_test.go
  internal/testutil/optional_computed_field_tests.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Removed spaces from the GPG key
  gpg-public.key
Due: none

fix: resolve interface and interface template optional field test failures
  internal/resources/interface_resource.go
  internal/resources/interface_template_resource.go
  internal/resources_acceptance_tests/interface_enabled_optional_field_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: remove duplicate CheckDestroy field in interface template test
  internal/resources_acceptance_tests/device_status_comprehensive_test.go
  internal/resources_acceptance_tests/device_status_optional_field_test.go
  internal/resources_acceptance_tests/front_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/interface_enabled_comprehensive_test.go
  internal/resources_acceptance_tests/interface_enabled_optional_field_test.go
  internal/resources_acceptance_tests/interface_template_enabled_comprehensive_test.go
  internal/resources_acceptance_tests/journal_entry_comprehensive_test.go
  internal/resources_acceptance_tests/power_feed_comprehensive_test.go
  internal/resources_acceptance_tests/power_outlet_template_comprehensive_test.go
  internal/resources_acceptance_tests/power_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/rear_port_comprehensive_test.go
  internal/resources_acceptance_tests/rear_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/role_weight_comprehensive_test.go
  internal/resources_acceptance_tests/tunnel_status_comprehensive_test.go
  internal/resources_acceptance_tests/virtual_machine_status_comprehensive_test.go
  internal/resources_acceptance_tests/vlan_status_comprehensive_test.go
  internal/resources_acceptance_tests/vm_interface_mode_comprehensive_test.go
  internal/testutil/optional_computed_field_tests.go
  internal/testutil/optional_field_tests.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fixed spaces in files
  internal/resources/custom_field_resource.go
  internal/resources/custom_link_resource.go
  internal/resources/device_bay_resource.go
  internal/resources/device_bay_template_resource.go
  internal/resources/export_template_resource.go
  internal/resources_acceptance_tests/device_role_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

File layout fixes
  internal/resources/device_resource.go
  internal/resources/device_role_resource.go
  internal/resources/device_type_resource.go
  internal/resources/fhrp_group_assignment_resource.go
  internal/resources/fhrp_group_resource.go
  internal/resources/front_port_resource.go
  internal/resources/front_port_template_resource.go
  internal/resources/ike_policy_resource.go
  internal/resources/ike_proposal_resource.go
  internal/resources/interface_resource.go
  internal/resources/interface_template_resource.go
  internal/resources/inventory_item_resource.go
  internal/resources/inventory_item_role_resource.go
  internal/resources/inventory_item_template_resource.go
  internal/resources/ip_address_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: resolve acceptance test failures from incorrect field type expectations
  internal/resources_acceptance_tests/device_status_optional_field_test.go
  internal/resources_acceptance_tests/vm_interface_mode_comprehensive_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: Use random names in interface and interface template tests to prevent parallel execution conflicts
  internal/resources/ip_range_resource.go
  internal/resources/ipsec_policy_resource.go
  internal/resources/ipsec_profile_resource.go
  internal/resources/ipsec_proposal_resource.go
  internal/resources_acceptance_tests/interface_enabled_optional_field_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: Replace hardcoded test names with random names in all comprehensive tests
  internal/resources_acceptance_tests/device_status_comprehensive_test.go
  internal/resources_acceptance_tests/front_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/interface_enabled_comprehensive_test.go
  internal/resources_acceptance_tests/interface_template_enabled_comprehensive_test.go
  internal/resources_acceptance_tests/journal_entry_comprehensive_test.go
  internal/resources_acceptance_tests/power_feed_comprehensive_test.go
  internal/resources_acceptance_tests/power_outlet_template_comprehensive_test.go
  internal/resources_acceptance_tests/power_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/rear_port_comprehensive_test.go
  internal/resources_acceptance_tests/rear_port_template_comprehensive_test.go
  internal/resources_acceptance_tests/role_weight_comprehensive_test.go
  internal/resources_acceptance_tests/tunnel_status_comprehensive_test.go
  internal/resources_acceptance_tests/virtual_machine_status_comprehensive_test.go
  internal/resources_acceptance_tests/vlan_status_comprehensive_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: VM interface mode field lost during import
  internal/resources/vm_interface_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: VM interface mode field import handling
  internal/resources/vm_interface_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: replace HTTP status magic numbers with constants in platform and power resources
  internal/resources/module_bay_resource.go
  internal/resources/module_bay_template_resource.go
  internal/resources/module_resource.go
  internal/resources/module_type_resource.go
  internal/resources/notification_group_resource.go
  internal/resources/platform_resource.go
  internal/resources/power_feed_resource.go
  internal/resources/power_outlet_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: resolve device resource field consistency issues
  internal/resources/device_resource.go
  internal/resources_acceptance_tests/device_field_consistency_test.go
  internal/resources_unit_tests/device_field_consistency_test.go
  internal/schema/attributes.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix: correct approach for device field consistency
  internal/resources/device_resource.go
  internal/resources_unit_tests/device_field_consistency_test.go
  internal/schema/attributes.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

enhance: extend existing acceptance tests to cover field consistency
  internal/resources_acceptance_tests/device_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: complete Batch 1 - add missing import tests for all resources
  IMPORT_TEST_COVERAGE_TRACKING.md
  internal/resources_acceptance_tests/device_bay_template_resource_test.go
  internal/resources_acceptance_tests/device_import_test.go
  internal/resources_acceptance_tests/device_role_resource_test.go
  internal/resources_acceptance_tests/device_type_resource_test.go
  internal/resources_acceptance_tests/interface_template_resource_test.go
  internal/resources_acceptance_tests/l2vpn_termination_resource_test.go
  internal/resources_acceptance_tests/virtual_machine_import_test.go
  internal/testutil/acctest.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat: implement Batch 2 comprehensive import tests for core resources
  IMPORT_TEST_COVERAGE_TRACKING.md
  internal/resources_acceptance_tests/interface_resource_test.go
  internal/resources_acceptance_tests/site_resource_test.go
  internal/resources_acceptance_tests/vm_interface_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Path conditions:
  golangci-lint-fmt: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: \.go$
  terraform-fmt: any of: \.tf$
  go-generate: any of: \.go$
  tflint: any of: \.tf$
