Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

golangci-lint-fmt:
  name: golangci-lint fmt (gofmt + gci)
  entry: go run ./scripts/golangci_wrapper fmt
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: go run ./scripts/golangci_wrapper run --fix
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -recursive ./examples
  language: system
  pass_filenames: false

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: go run scripts/tflint_wrapper.go
  language: system
  pass_filenames: false

Removed working files
  fix_these.txt
  fix_these2.txt
  internal/resources/rack_reservation_resource.go
  scripts/fix-all-display-checks.ps1
  scripts/remove-display-name.ps1
  scripts/remove-empty-display-checks.ps1
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fixed acceptance test failures and improved test reliability
  internal/datasources_acceptance_tests/contact_assignment_data_source_test.go
  internal/resources/circuit_group_resource.go
  internal/resources/cluster_group_resource.go
  internal/resources/config_context_resource.go
  internal/resources/custom_field_choice_set_resource.go
  internal/resources/custom_link_resource.go
  internal/resources_acceptance_tests/contact_assignment_resource_test.go
  internal/resources_acceptance_tests/contact_resource_test.go
  internal/resources_acceptance_tests/l2vpn_termination_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 3 Batch 3.1: Verified reference preservation tests
  CLEANUP_PLAN.md
  internal/resources_acceptance_tests/ip_address_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 4.2: Updated CHANGELOG.md for v0.0.9
  CHANGELOG.md
  CLEANUP_PLAN.md
Due: none

Phase 5 Batch 5.2: Remove duplicate ID fields from device_resource
  internal/resources/device_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.3: Remove duplicate ID fields from virtual_machine_resource
  internal/resources/virtual_machine_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.4: Remove duplicate ID fields from rack resources
  internal/resources/rack_resource.go
  internal/resources/rack_type_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.5: Remove duplicate ID fields from IPAM resources
  internal/resources/route_target_resource.go
  internal/resources/vlan_resource.go
  internal/resources/vrf_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.6: Remove duplicate ID fields from hierarchy resources
  internal/resources/location_resource.go
  internal/resources/region_resource.go
  internal/resources/site_group_resource.go
  internal/resources/tenant_group_resource.go
  internal/resources/tenant_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.7 (partial): Remove ManufacturerID from platform_resource
  internal/resources/platform_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.8: Update tests for removed duplicate ID fields
  internal/resources_unit_tests/platform_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Phase 5 Batch 5.8 (final): Update CHANGELOG and documentation
  CHANGELOG.md
  CLEANUP_PLAN.md
Due: none

Phase 6 complete + added Phases 7-9 for examples/docs/tests
  CLEANUP_PLAN.md
Due: none

Phase 7: Create detailed batches for example review
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.1 complete: IPAM Core resources verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.2 complete: Sites & Organization - Fixed contact_assignment
  CLEANUP_PLAN.md
  examples/resources/netbox_contact_assignment/resource.tf
Due: terraform-fmt, tflint

Phase 7 Batch 7.3 complete: Device Infrastructure verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.4 complete: Device Components - Ports - Fixed interface_template
  CLEANUP_PLAN.md
  examples/resources/netbox_interface_template/resource.tf
Due: terraform-fmt, tflint

Phase 7 Batch 7.5 complete: Power & Modules verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.6 complete: Virtualization (2 fixes)
  CLEANUP_PLAN.md
  examples/resources/netbox_fhrp_group_assignment/resource.tf
  examples/resources/netbox_virtual_device_context/resource.tf
Due: terraform-fmt, tflint

Phase 7 Batch 7.7 complete: Circuits & Providers (1 fix)
  CLEANUP_PLAN.md
  examples/resources/netbox_service/resource.tf
Due: terraform-fmt, tflint

Phase 7 Batch 7.8 complete: VPN & Tunnels verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.9 complete: Wireless & Extras verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.10 complete: Configuration & Remaining verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.11 complete: Data Sources Part 1 verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.12 complete: Data Sources Part 2 verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.13 complete: Data Sources Part 3 verified
  CLEANUP_PLAN.md
Due: none

Phase 7 Batch 7.14 complete: Data Sources Part 4 verified
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.1: Review IPAM Core integration tests
  CLEANUP_PLAN.md
  test/terraform/resources/fhrp_group_assignment/main.tf
Due: terraform-fmt, tflint

Phase 9 Batch 9.1: Revert incorrect changes and clarify criteria
  CLEANUP_PLAN.md
  test/terraform/resources/fhrp_group_assignment/main.tf
Due: terraform-fmt, tflint

Phase 9 Batch 9.2: Sites & Organization Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.3: Device Infrastructure Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.4: Device Components Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.5: Inventory & Templates Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.6: Virtualization Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.7: Circuits & VPN Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.8: Wireless & Events Resources - All clean
  CLEANUP_PLAN.md
Due: none

Phase 9 Batch 9.9: IPAM Data Sources - All clean
  CLEANUP_PLAN.md
Due: none

Path conditions:
  golangci-lint-fmt: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: \.go$
  terraform-fmt: any of: \.tf$
  go-generate: any of: \.go$
  tflint: any of: \.tf$
