Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt, go-generate, tflint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: golangci-lint-fmt
        name: golangci-lint fmt (gofmt + gci)
        entry: go run ./scripts/golangci_wrapper fmt
        types: [go]
        language: system
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: go run ./scripts/golangci_wrapper run --fix
        types: [go]
        language: system
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        types: [go]
        language: system
        pass_filenames: false

      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -recursive ./examples
        language: system
        files: \.tf$
        pass_filenames: false

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: tflint
        name: tflint
        entry: go run scripts/tflint_wrapper.go
        language: system
        files: \.tf$
        pass_filenames: false

docs(examples): add custom fields examples for circuit resources (group 1 of 3)
  examples/resources/netbox_circuit/resource.tf
  examples/resources/netbox_circuit_group/resource.tf
  examples/resources/netbox_circuit_termination/resource.tf
  examples/resources/netbox_circuit_type/resource.tf
  examples/resources/netbox_provider/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for circuit/VPN resources (group 2 of 3)
  examples/resources/netbox_l2vpn/resource.tf
  examples/resources/netbox_l2vpn_termination/resource.tf
  examples/resources/netbox_provider_account/resource.tf
  examples/resources/netbox_provider_network/resource.tf
  examples/resources/netbox_tunnel/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for tunnel resources (group 3 of 3)
  examples/resources/netbox_circuit_group_assignment/resource.tf
  examples/resources/netbox_tunnel_group/resource.tf
  examples/resources/netbox_tunnel_termination/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for IPAM resources (group 1 of 3)
  examples/resources/netbox_aggregate/resource.tf
  examples/resources/netbox_asn/resource.tf
  examples/resources/netbox_ip_address/resource.tf
  examples/resources/netbox_prefix/resource.tf
  examples/resources/netbox_vlan/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for IPAM resources (group 2 of 3)
  examples/resources/netbox_ip_range/resource.tf
  examples/resources/netbox_rir/resource.tf
  examples/resources/netbox_route_target/resource.tf
  examples/resources/netbox_vlan_group/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for IPAM resources (group 3 of 3)
  examples/resources/netbox_asn_range/resource.tf
  examples/resources/netbox_vrf/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for DCIM resources (group 1 of 5)
  examples/resources/netbox_device_role/resource.tf
  examples/resources/netbox_device_type/resource.tf
  examples/resources/netbox_location/resource.tf
  examples/resources/netbox_rack/resource.tf
  examples/resources/netbox_site/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for DCIM resources (group 2 of 5)
  examples/resources/netbox_cable/resource.tf
  examples/resources/netbox_device_bay/resource.tf
  examples/resources/netbox_interface/resource.tf
  examples/resources/netbox_manufacturer/resource.tf
  examples/resources/netbox_region/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for DCIM resources (group 3 of 5)
  examples/resources/netbox_console_port/resource.tf
  examples/resources/netbox_front_port/resource.tf
  examples/resources/netbox_inventory_item/resource.tf
  examples/resources/netbox_power_port/resource.tf
  examples/resources/netbox_rear_port/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for DCIM resources (group 4 of 5)
  examples/resources/netbox_console_server_port/resource.tf
  examples/resources/netbox_power_outlet/resource.tf
  examples/resources/netbox_power_panel/resource.tf
  examples/resources/netbox_rack_reservation/resource.tf
  examples/resources/netbox_rack_role/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for DCIM resources (group 5 of 5)
  examples/resources/netbox_module_bay/resource.tf
  examples/resources/netbox_power_feed/resource.tf
  examples/resources/netbox_site_group/resource.tf
  examples/resources/netbox_virtual_chassis/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for virtualization/tenancy resources (group 1 of 2)
  examples/resources/netbox_cluster/resource.tf
  examples/resources/netbox_cluster_group/resource.tf
  examples/resources/netbox_cluster_type/resource.tf
  examples/resources/netbox_tenant/resource.tf
  examples/resources/netbox_virtual_machine/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for tenant/contact resources (group 2 of 2)
  examples/resources/netbox_contact/resource.tf
  examples/resources/netbox_contact_assignment/resource.tf
  examples/resources/netbox_contact_group/resource.tf
  examples/resources/netbox_contact_role/resource.tf
  examples/resources/netbox_tenant_group/resource.tf
Due: terraform-fmt, tflint

docs(examples): add custom fields examples for wireless/service resources (final group)
  examples/resources/netbox_config_context/resource.tf
  examples/resources/netbox_service/resource.tf
  examples/resources/netbox_service_template/resource.tf
  examples/resources/netbox_wireless_lan/resource.tf
  examples/resources/netbox_wireless_lan_group/resource.tf
  examples/resources/netbox_wireless_link/resource.tf
Due: terraform-fmt, tflint

feat(custom-fields): Batch 9 - Add partial management to VPN/IPSec resources
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/ike_policy_resource.go
  internal/resources/ike_proposal_resource.go
  internal/resources/ipsec_policy_resource.go
  internal/resources/ipsec_profile_resource.go
  internal/resources/ipsec_proposal_resource.go
  internal/resources_acceptance_tests_customfields/ike_policy_resource_test.go
  internal/resources_acceptance_tests_customfields/ike_proposal_resource_test.go
  internal/resources_acceptance_tests_customfields/ipsec_policy_resource_test.go
  internal/resources_acceptance_tests_customfields/ipsec_profile_resource_test.go
  internal/resources_acceptance_tests_customfields/ipsec_proposal_resource_test.go
  scripts/update_batch9_resources.ps1
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(custom-fields): Batch 10 Part 1 - console_server_port partial management
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/console_server_port_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

feat(custom-fields): Batch 10 Part 2 - module_resource partial management
  internal/resources/module_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(custom-fields): Rack type resource with merge-aware pattern
  internal/resources/rack_type_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Update Batch 10 progress - all 3 fixable resources complete
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

test(custom-fields): Add Batch 10 preservation tests for console_server_port, module, and rack_type
  internal/resources_acceptance_tests_customfields/console_server_port_resource_test.go
  internal/resources_acceptance_tests_customfields/module_resource_test.go
  internal/resources_acceptance_tests_customfields/rack_type_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(test): Add required form_factor field to rack_type tests
  internal/resources_acceptance_tests_customfields/rack_type_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Batch 10 complete - all tests passing
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

docs: Remove duplicate gating checks section in Batch 10
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

fix(virtualization): Apply merge-aware custom fields pattern to virtual_device_context
  internal/resources/virtual_device_context_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(virtualization): Apply merge-aware custom fields pattern to virtual_disk
  internal/resources/virtual_disk_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(virtualization): Apply merge-aware custom fields pattern to vm_interface
  internal/resources/vm_interface_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test(batch11): Add preservation tests for virtual_device_context, virtual_disk, vm_interface
  internal/resources_acceptance_tests_customfields/virtual_device_context_resource_test.go
  internal/resources_acceptance_tests_customfields/virtual_disk_resource_test.go
  internal/resources_acceptance_tests_customfields/vm_interface_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(batch11): Correct Read() preservation logic for virtual_device_context, virtual_disk, vm_interface
  internal/resources/virtual_device_context_resource.go
  internal/resources/virtual_disk_resource.go
  internal/resources/vm_interface_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs(batch11): Mark Batch 11 complete - all tests passing
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

fix(batch12): Apply merge-aware pattern to 5 Extras & Roles resources
  internal/resources/event_rule_resource.go
  internal/resources/fhrp_group_resource.go
  internal/resources/inventory_item_role_resource.go
  internal/resources/journal_entry_resource.go
  internal/resources/role_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

test(batch12): Add preservation tests for batch 12 resources
  internal/resources_acceptance_tests_customfields/event_rule_resource_test.go
  internal/resources_acceptance_tests_customfields/fhrp_group_resource_test.go
  internal/resources_acceptance_tests_customfields/inventory_item_role_resource_test.go
  internal/resources_acceptance_tests_customfields/journal_entry_resource_test.go
  internal/resources_acceptance_tests_customfields/role_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(batch12-13): Fix role_resource and refactor tunnel_resource to use helpers
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
  internal/resources/role_resource.go
  internal/resources/tunnel_resource.go
  internal/resources_acceptance_tests_customfields/event_rule_resource_test.go
  internal/resources_acceptance_tests_customfields/fhrp_group_resource_test.go
  internal/resources_acceptance_tests_customfields/inventory_item_role_resource_test.go
  internal/resources_acceptance_tests_customfields/journal_entry_resource_test.go
  internal/resources_acceptance_tests_customfields/role_resource_test.go
  internal/resources_acceptance_tests_customfields/tunnel_resource_test.go
  internal/testutil/check_destroy_dcim.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

docs: Update examples and regenerate documentation for role and tunnel resources
  docs/resources/role.md
  docs/resources/tunnel.md
  examples/resources/netbox_role/resource.tf
  examples/resources/netbox_tunnel/resource.tf
Due: terraform-fmt, tflint

docs: Prepare v0.0.13 release - Add comprehensive CHANGELOG entry
  CHANGELOG.md
  CUSTOM_FIELDS_PARTIAL_MANAGEMENT_PLAN.md
Due: none

fix(datasource): Fix typo in site data source custom_fields attribute
  internal/datasources/site_data_source.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(resource): Fix nil pointer dereference in provider_network buildRequest
  internal/resources/provider_network_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

fix(resource): Fix nil pointer dereference in provider_account buildCreateRequest
  internal/resources/provider_account_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix acceptance tests: Use consistent custom field names across test steps
  internal/resources_acceptance_tests/rack_reservation_resource_test.go
  internal/resources_acceptance_tests/tunnel_termination_resource_test.go
  internal/resources_acceptance_tests/virtual_chassis_resource_test.go
  internal/resources_acceptance_tests/virtual_device_context_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate

Fix power_feed ImportState: Initialize tags/custom_fields for proper mapping
  internal/resources/power_feed_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, go-generate
