Repository bab3l/terraform-provider-netbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-no-local-replace, golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt

go-mod-no-local-replace:
  name: 'go.mod: forbid local replace directives'
  entry: python scripts/check_no_local_go_mod_replaces.py
  language: system

golangci-lint-fmt:
  name: golangci-lint fmt (gofmt + gci)
  entry: go run ./scripts/golangci_wrapper fmt
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: go run ./scripts/golangci_wrapper run --fix
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -recursive ./examples
  language: system
  pass_filenames: false

test: complete phase 2 import reference checks
  docs/IMPORT-REFERENCE-ID-VALIDATION.md
  internal/resources_acceptance_tests/console_port_resource_test.go
  internal/resources_acceptance_tests/console_port_template_resource_test.go
  internal/resources_acceptance_tests/console_server_port_resource_test.go
  internal/resources_acceptance_tests/console_server_port_template_resource_test.go
  internal/resources_acceptance_tests/device_bay_resource_test.go
  internal/resources_acceptance_tests/front_port_resource_test.go
  internal/resources_acceptance_tests/front_port_template_resource_test.go
  internal/resources_acceptance_tests/interface_template_resource_test.go
  internal/resources_acceptance_tests/power_outlet_resource_test.go
  internal/resources_acceptance_tests/power_outlet_template_resource_test.go
  internal/resources_acceptance_tests/power_port_resource_test.go
  internal/resources_acceptance_tests/power_port_template_resource_test.go
  internal/resources_acceptance_tests/rear_port_resource_test.go
  internal/resources_acceptance_tests/rear_port_template_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

test: complete phase 3 import reference checks
  docs/IMPORT-REFERENCE-ID-VALIDATION.md
  internal/resources_acceptance_tests/device_bay_template_resource_test.go
  internal/resources_acceptance_tests/inventory_item_resource_test.go
  internal/resources_acceptance_tests/module_bay_resource_test.go
  internal/resources_acceptance_tests/module_bay_template_resource_test.go
  internal/resources_acceptance_tests/module_resource_test.go
  internal/resources_acceptance_tests/module_type_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

test: complete phase 4 import reference checks
  docs/IMPORT-REFERENCE-ID-VALIDATION.md
  internal/resources_acceptance_tests/asn_range_resource_test.go
  internal/resources_acceptance_tests/asn_resource_test.go
  internal/resources_acceptance_tests/circuit_group_assignment_resource_test.go
  internal/resources_acceptance_tests/circuit_group_resource_test.go
  internal/resources_acceptance_tests/circuit_termination_resource_test.go
  internal/resources_acceptance_tests/l2vpn_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

test: complete phase 5 import reference checks
  docs/IMPORT-REFERENCE-ID-VALIDATION.md
  internal/resources_acceptance_tests/platform_resource_test.go
  internal/resources_acceptance_tests/power_feed_resource_test.go
  internal/resources_acceptance_tests/power_panel_resource_test.go
  internal/resources_acceptance_tests/rack_reservation_resource_test.go
  internal/resources_acceptance_tests/rack_type_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

test: complete phase 6 import reference checks
  docs/IMPORT-REFERENCE-ID-VALIDATION.md
  internal/resources_acceptance_tests/cable_resource_test.go
  internal/resources_acceptance_tests/contact_resource_test.go
  internal/resources_acceptance_tests/route_target_resource_test.go
  internal/resources_acceptance_tests/service_resource_test.go
  internal/resources_acceptance_tests/virtual_device_context_resource_test.go
  internal/resources_acceptance_tests/virtual_disk_resource_test.go
  internal/resources_acceptance_tests/wireless_lan_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

chore: remove import validation docs and script
  CHANGELOG.md
  docs/IMPORT-REFERENCE-ID-VALIDATION.md
  scripts/test-import-behavior.ps1
Due: none

test: remove custom fields from acceptance tests
  internal/resources_acceptance_tests/asn_resource_test.go
  internal/resources_acceptance_tests/device_resource_test.go
  internal/resources_acceptance_tests/journal_entry_resource_test.go
  internal/resources_acceptance_tests/power_port_resource_test.go
  internal/resources_acceptance_tests/rack_reservation_resource_test.go
  internal/resources_acceptance_tests/rir_resource_test.go
  internal/resources_acceptance_tests/role_resource_test.go
  internal/resources_acceptance_tests/route_target_resource_test.go
  internal/resources_acceptance_tests/service_resource_test.go
  internal/resources_acceptance_tests/service_template_resource_test.go
  internal/resources_acceptance_tests/site_group_resource_test.go
  internal/resources_acceptance_tests/site_resource_test.go
  internal/resources_acceptance_tests/tenant_group_resource_test.go
  internal/resources_acceptance_tests/tenant_resource_test.go
  internal/resources_acceptance_tests/tunnel_group_resource_test.go
  internal/resources_acceptance_tests/tunnel_resource_test.go
  internal/resources_acceptance_tests/tunnel_termination_resource_test.go
  internal/resources_acceptance_tests/virtual_chassis_resource_test.go
  internal/resources_acceptance_tests/virtual_device_context_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

chore: release v0.0.18
  CHANGELOG.md
Due: none

Fix tag slug handling for filtered tags
  internal/resources/contact_resource.go
  internal/resources/wireless_link_resource.go
  internal/utils/state_helpers.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

refactor: unify datasource list lookups
  internal/datasources/aggregate_data_source.go
  internal/datasources/asn_data_source.go
  internal/datasources/asn_range_data_source.go
  internal/datasources/cluster_group_data_source.go
  internal/datasources/config_context_data_source.go
  internal/datasources/config_template_data_source.go
  internal/datasources/contact_group_data_source.go
  internal/datasources/contact_role_data_source.go
  internal/datasources/custom_field_choice_set_data_source.go
  internal/datasources/custom_field_data_source.go
  internal/datasources/custom_link_data_source.go
  internal/datasources/device_bay_data_source.go
  internal/datasources/device_data_source.go
  internal/datasources/device_type_data_source.go
  internal/datasources/export_template_data_source.go
  internal/datasources/interface_data_source.go
  internal/datasources/interface_template_data_source.go
  internal/datasources/inventory_item_data_source.go
  internal/datasources/inventory_item_role_data_source.go
  internal/datasources/power_feed_data_source.go
  internal/datasources/power_panel_data_source.go
  internal/datasources/provider_account_data_source.go
  internal/datasources/provider_network_data_source.go
  internal/datasources/rack_type_data_source.go
  internal/datasources/role_data_source.go
  internal/datasources/script_data_source.go
  internal/datasources/service_data_source.go
  internal/datasources/service_template_data_source.go
  internal/datasources/tunnel_termination_data_source.go
  internal/datasources/virtual_chassis_data_source.go
  internal/datasources/virtual_disk_data_source.go
  internal/datasources/vlan_group_data_source.go
  internal/datasources/vrf_data_source.go
  internal/datasources/wireless_lan_data_source.go
  internal/datasources/wireless_lan_group_data_source.go
  internal/utils/datasource_helpers.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

chore: refine v0.0.19 changelog
  CHANGELOG.md
Due: none

Prepare v0.0.20: VM context + test stability
  CHANGELOG.md
  docs/resources/virtual_machine.md
  examples/resources/netbox_virtual_machine/resource.tf
  internal/resources/virtual_machine_resource.go
  internal/resources_acceptance_tests/fhrp_group_assignment_resource_test.go
  internal/resources_acceptance_tests/fhrp_group_resource_test.go
  internal/resources_acceptance_tests/l2vpn_termination_resource_test.go
  internal/resources_acceptance_tests/prefix_resource_test.go
  internal/resources_acceptance_tests/virtual_machine_primary_ip_resource_test.go
  internal/resources_acceptance_tests/virtual_machine_resource_test.go
  internal/resources_acceptance_tests/vlan_resource_test.go
  internal/resources_acceptance_tests/vm_interface_resource_test.go
  internal/testutil/acctest.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt

Fix VM config_context drift on local context changes
  internal/resources/virtual_machine_resource.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

chore: normalize reference resolution
  internal/netboxlookup/generic_lookup.go
  internal/resources/asn_range_resource.go
  internal/resources/asn_resource.go
  internal/resources/circuit_group_resource.go
  internal/resources/contact_group_resource.go
  internal/resources/device_bay_resource.go
  internal/resources/device_type_resource.go
  internal/resources/inventory_item_template_resource.go
  internal/resources/module_bay_resource.go
  internal/resources/module_resource.go
  internal/resources/platform_resource.go
  internal/resources/power_panel_resource.go
  internal/resources/rack_reservation_resource.go
  internal/resources/rack_type_resource.go
  internal/resources/route_target_resource.go
  internal/resources/site_asn_assignment_resource.go
  internal/resources/virtual_device_context_resource.go
  internal/resources/virtual_disk_resource.go
  internal/resources/vlan_resource.go
  internal/resources/vrf_resource.go
  internal/resources/wireless_lan_group_resource.go
  internal/resources/wireless_lan_resource.go
  internal/resources_acceptance_tests/fhrp_group_assignment_resource_test.go
  internal/schema/attributes_enhanced.go
  internal/schema/reference_plan_modifier.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

Remove VM config_context attribute
  docs/resources/device.md
  docs/resources/virtual_machine.md
  examples/resources/netbox_device/resource.tf
  internal/resources/device_resource.go
  internal/resources/virtual_machine_resource.go
  internal/resources_acceptance_tests/device_resource_test.go
  internal/resources_acceptance_tests/virtual_machine_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy, terraform-fmt

Update changelog for v0.0.21
  CHANGELOG.md
Due: none

Add VLAN support to interface resource
  internal/resources/interface_resource.go
  internal/resources_acceptance_tests/interface_resource_test.go
Due: golangci-lint-fmt, golangci-lint, go-mod-tidy

chore: update dependencies
  go.mod
  go.sum
  internal/resources_acceptance_tests_customfields/device_role_resource_test.go
Due: go-mod-no-local-replace, golangci-lint-fmt, golangci-lint, go-mod-tidy

chore: update changelog for 0.0.20-0.0.23
  CHANGELOG.md
Due: none

ci: install golangci-lint via go install
  .github/workflows/ci.yml
Due: none

Path conditions:
  go-mod-no-local-replace: any of: (^|/)go\.mod$
  golangci-lint-fmt: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: \.go$
  terraform-fmt: any of: \.tf$
